
h1,h2,h3,h4,body {
  font-family:monospace!important;
}

h1 img {
  max-height: 600px;
  padding: 2px;
}

body > div > div.navbar.navbar-default.top-nav > div.container-fluid > a {
  display: none;
}


body > div > div.navbar.navbar-default.top-nav > div.container-fluid > div {
  box-shadow: 2px 4px 2px 0px grey;
  background-color: #5FC4AB;
  color: black;
}

p {
  font-size: 17px;
}

li {
  font-size: 16px;
}

h2 {
  text-align: center;
}

.text-center {
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.background-image {
  /*background-image: url('img/whitebackground.jpg');*/
  z-index: -2222;
}

.intro {
  text-align: center;
}

.aboutme, .style, .resume  {
  display: none;
}

.jumbotron {
  margin: 20px;
}

.navbar{
  padding: 20px;
  font-family: monospace;
}

.resume {
  padding: 10px;
}

body > div > div.resume > div.skills {
    max-height: 300px;
    list-style-position: inside;
  }

body > div.background-image > div.resume > div > h3 span {
  font-size: 12px;
}

body > div > div.resume > div.skills.resume-fold > ul {
  /*height: 100px;*/
  columns: 3;
}

body > div.background-image > div.resume > div > h3 {
  text-decoration: underline;
}

.container-fluid {
  font-family: monospace;
  max-width: 1500px;
}

.col-sm-4 {
  border: 2px solid black!important;
  min-height: 425px!important;
  text-align: center;
  padding: 40px;
  font-size: 150%;
}


.glyphicon {
  padding: 20px;
}

#avatar {
    display: block;
    margin-right: auto;
    margin-left: -10%;
    width: 100%;
}

#profile {
  max-height: 700px;
  padding: 50px;
}

#photo5 {
  max-height: 700px;
  min-width: 700px;
  padding: 50px;
}

#photo6 {
  max-height: 700px;
  min-width: 700px;
  padding: 50px;
}

#img2 {
  float: right;
  max-height:500px;
  padding: 20px;
  border: 20px solid #5FC4AB;
}
