
.rw-wrapper{
	width: 70%;
	position: relative;
	margin: 1px auto 1px auto;
	font-family: monospace;
	padding: 10px;
}

.rw-sentence{
	margin: 0;
	text-align: left;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	margin-left: 20%;
}

.rw-sentence span{
	color: #444;
	/*white-space: nowrap;*/
	font-size: 100%;
	font-weight: normal;
}

.rw-words{
	display: inline;
	text-indent: 10px;
}

.rw-words > span {
	position: relative;
	opacity: 0;
	top: -20px;
	overflow: hidden;
	width: 100%;
	color: #5FC4AB;
  display: inline;
}

.rw-words p {
  position: relative;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  color: #5FC4AB;
}

.rw-words-1 > span {
	animation: fadein 1s;
	-webkit-animation-fill-mode:forwards;
	margin-left: -20px !important;
  animation-delay: 2s;

}

body > div > div.style > section > h2 > div.rw-words.rw-words-3 > p {
	animation: fadein 3s;
	-webkit-animation-fill-mode:forwards;
	margin-left: -20px !important;
  animation-delay: 3s;
}


@keyframes fadein {
	0% { opacity: 0; animation-timing-function: ease-in; height: 0px; }
  8% { opacity: .6; top: -10px; }
  19% { opacity: .8; top: -5px; }
	25% { opacity: 1; top: 0px; }
  100% { opacity: 1; top: 0px;}
}
